rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 개발용: 로그인 여부와 관계없이 전부 허용
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
